{% extends "modelo.html" %}
{% block conteudo %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sobre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
      <section class="hero">
        <h1>Sobre este projeto</h1>
        <p class="muted">Esse site o projeto da disciplina de Introdução a Programação</p>
        <p><b>Membros da equipe:<b/></p>
          <p> Gabriel Mendonça: responsável pela integração da Gemini e edições finais</p
                  <p>Jayne Chaves: Pelo front-end e conteúdo<p/>
                  <p> Maria Eduarda Maroja: responsável pelo back-end e conteúdo<p/>

      </section>

      <p class="footer">Voltar para <a href="/">Home</a>.</p>
    </div>
</body>
</html>
{% endblock %}